@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #051623;
  --txtColor: #eeff37;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
html {
  scrollbar-width: auto;
  /* scrollbar-color: #eeff37 #051623; */
}

* {
  font-family: "__Lexend_866216", sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #051623;
  /* border-radius: 10px; */
}

*::-webkit-scrollbar-thumb {
  background: #eeff37;
  border-radius: 10px;
}

.p-tabview-nav {
  justify-content: center;
}

.p-tabview-selected {
  text-decoration: underline;
  text-decoration-color: #eeff37;
  text-underline-offset: 8px;
}

.p-tabview-selected a {
  padding-bottom: 10px;
}

p {
  color: #ffffffb5;
}
